body {
    background: url('https://www.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-9-full.jpg') fixed no-repeat left top;
}

h1 {
    color: #FFF;
    text-align:center;
}

#eventoncontent {
    height:100%;
    width:60%;
    margin:2em auto;
}

.ajde_evcal_calendar.evoapi #evcal_list,
#evcal_list {
    border-radius: 5px!important;
    border: 3px solid #e5e5e5!important;
    /* border-color: #e5e5e5!important;
    border-left: 3px solid #e5e5e5!important;
    border-right: 3px solid #e5e5e5!important;
    border-top: 3px solid #e5e5e5!important;
    border-bottom: 3px solid #e5e5e5!important; */
}